@charset "UTF-8";
*{
    
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin-left: 350px;
    margin-top: 120px;
}
main{
    
    background-image: linear-gradient(to bottom, #0FC2C0, #0a8987);
    margin: 70px;
    border-radius: 15px;
    text-align: center;
}
body{
    height: 100%;
    background-image: linear-gradient(to right, #023535, #012121);
    
}
h1{
    font-size: 18px;
    color: #023535;
}
h2{
    font-size: 15px;
    
}
